.navbar-toggler[b-xobwko7geh] {
    background-color: var(--button-bg);
}

.top-row[b-xobwko7geh] {
    height: 3.5rem;
    background-color: var(--navbar-bg);
}

.nav-scrollable[b-xobwko7geh] {
    height: calc(100vh - 3.5rem);
    overflow-y: auto;
    background: var(--sidebar-bg);
}

.nav-item[b-xobwko7geh] {
    font-size: 0.95rem;
    padding-bottom: 0.25rem;
}

    .nav-item[b-xobwko7geh]  a {
        color: var(--navbar-text);
        border-radius: 6px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
        text-decoration: none;
    }

        .nav-item[b-xobwko7geh]  a.active {
            background-color: rgba(79, 70, 229, 0.15);
            color: var(--text-color);
        }

        .nav-item[b-xobwko7geh]  a:hover {
            background-color: var(--button-hover);
            color: var(--text-color);
        }
