/* /Components/Layout/MainLayout.razor.rz.scp.css */
.page[b-g19nmx7633] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-g19nmx7633] {
    flex: 1;
}

.sidebar[b-g19nmx7633] {
    background: var(--sidebar-bg);
}

.top-row[b-g19nmx7633] {
    background-color: var(--navbar-bg);
    border-bottom: 1px solid var(--border-color);
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-g19nmx7633]  a, .top-row[b-g19nmx7633]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

        .top-row[b-g19nmx7633]  a:hover, .top-row[b-g19nmx7633]  .btn-link:hover {
            text-decoration: underline;
        }

        .top-row[b-g19nmx7633]  a:first-child {
            overflow: hidden;
            text-overflow: ellipsis;
        }

@media (max-width: 640.98px) {
    .top-row[b-g19nmx7633] {
        justify-content: space-between;
    }

        .top-row[b-g19nmx7633]  a, .top-row[b-g19nmx7633]  .btn-link {
            margin-left: 0;
        }
}

@media (min-width: 641px) {
    .page[b-g19nmx7633] {
        flex-direction: row;
    }

    .sidebar[b-g19nmx7633] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-g19nmx7633] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

        .top-row.auth[b-g19nmx7633]  a:first-child {
            flex: 1;
            text-align: right;
            width: 0;
        }

    .top-row[b-g19nmx7633], article[b-g19nmx7633] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Components/Layout/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-xobwko7geh] {
    background-color: var(--button-bg);
}

.top-row[b-xobwko7geh] {
    height: 3.5rem;
    background-color: var(--navbar-bg);
}

.nav-scrollable[b-xobwko7geh] {
    height: calc(100vh - 3.5rem);
    overflow-y: auto;
    background: var(--sidebar-bg);
}

.nav-item[b-xobwko7geh] {
    font-size: 0.95rem;
    padding-bottom: 0.25rem;
}

    .nav-item[b-xobwko7geh]  a {
        color: var(--navbar-text);
        border-radius: 6px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
        text-decoration: none;
    }

        .nav-item[b-xobwko7geh]  a.active {
            background-color: rgba(79, 70, 229, 0.15);
            color: var(--text-color);
        }

        .nav-item[b-xobwko7geh]  a:hover {
            background-color: var(--button-hover);
            color: var(--text-color);
        }
